* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  background-color: #fafafafa;
  height: 100vh;
}

.app__header {
  background-color: #fff;
  padding: 20px;
  object-fit: contain;
  border-bottom: 1px solid lightgray;
}
